.search-results ul { padding: 0; }
.search-results li { display: inline; }

.thumbnail {
  display: inline-block;
  margin: 0 10px 20px 0;
}

#firebase-auth .btn { margin-left: 10px; }

.zip-history-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
